<h1>{{title}} 🚀</h1>
<hr>
<p>Ejemplos de Route Params:</p>
<ul>
    <li><a href="/vuelos/origen/melilla/destino/berlin/fecha/23-11-2022">Ejemplo de vuelos 1</a></li>
    <li><a href="/vuelos/origen/san-franciso/destino/madrid/fecha/22-22-2222">Ejemplo de vuelos 2</a></li>
</ul>


<hr>

<p>Ejemplos de Query Strings:</p>
<ul>
    <li><a href="/tienda?clothe=pantalon&color=red&season=verano">Ejemplo de tienda 1</a></li>
    <li><a href="/tienda?clothe=shorties&color=verde&season=otoño">Ejemplo de tienda 2</a></li>
</ul>

<hr>

<p>Accede al buscador de ropa (GET) <a href="/buscador">en este enlace</a></p>

<hr>

<p>Accede al formulario de registro (POST) <a href="/registro">en este enlace</a></p>