<h1>Buscador de ropa</h1>

<hr>

<form action="/resultados-buscador" method="GET">

    <label>
        Prenda: <input type="text" name="clothe">
    </label>

    <br><br>

    <label>
        Color: <input type="text" name="color">
    </label>

    <br><br>

    <label>
        Talla: <input type="text" name="size">
    </label>

    <br><br>

    <label>
        Temporada: <input type="text" name="season">
    </label>


    <br><br>
    <br><br>

    <input type="submit" value="Buscar">

</form>