<h1>Resultados de tu búsqueda</h1>

<hr>


<p>Ahora no tenemos una BBDD conectada, pero cuando la tengamos buscaremos los resultados para
    <code>{{clothe}}, {{season}}, {{size}}, {{color}} </code> y los renderizaremos aquí.
</p>

<a href="/buscador">Volver al buscador</a>