<h1>Registro</h1>

<hr>

<form action="/registro" method="POST">

    <label>
        Usuario: <input type="text" name="username">
    </label>

    <br><br>

    <label>
        Contraseña: <input type="password" name="passw">
    </label>

    <br><br>
    <br><br>

    <input type="submit" value="Registrarme">

</form>